In [1]:
#dependencies
import os
import csv
import pandas as pd

In [2]:
# Store filepath in a variable
data_file = "Resources/budget_data.csv"

In [3]:
# Read the Data file with the pandas library, but enconding just in case.
data_file = os.path.join("Resources", "budget_data.csv")

In [4]:
# create a list
changes = []

# for row 1, change needs to be zero as you can't subtract from header.
change = 0 
with open(data_file) as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=",")

    # Read the header row first (skip this part if there is no header)
    csv_header = next(csv_reader)
    
    for row in csv_reader:
        difference = int(row[1]) - change
        change = int(row[1])
        changes.append(difference)
changes

#Remove initial profit loss value from new list
first_pl = changes.pop(0)

In [5]:
# average of the changes
avg_change = round(sum(changes)/len(changes), 2)

In [6]:
# Use Pandas to read data (pd = Pandas) and the "head" method.
data_file_df = pd.read_csv(data_file)

In [7]:
# Use Pandas to read list (pd = Pandas).
df_list = pd.read_csv(data_file)

In [8]:
# Review headers
data_file_df.head(20)

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
5   Jun-2010         522857
6   Jul-2010        1033096
7   Aug-2010         604885
8   Sep-2010        -216386
9   Oct-2010         477532
10  Nov-2010         893810
11  Dec-2010         -80353
12  Jan-2011         779806
13  Feb-2011        -335203
14  Mar-2011         697845
15  Apr-2011         793163
16  May-2011         485070
17  Jun-2011         584122
18  Jul-2011          62729
19  Aug-2011         668179

In [9]:
months = data_file_df["Date"].count()
profit = data_file_df["Profit/Losses"].sum()
greatest_increase = max(changes)
lowest_increase = min(changes)
print("FINANCIAL ANALYSIS")
print("-----------------------------------------")
print("Total Months ", "=", months)
print("Total Profit ", "= $", profit)
print("Average Monthly Change ", "= $", avg_change)
print("Greatest Increase ", "= $", greatest_increase)
print("Greatest Decrease", "= $", lowest_increase)

FINANCIAL ANALYSIS
-----------------------------------------
Total Months  = 86
Total Profit  = $ 38382578
Average Monthly Change  = $ -2315.12
Greatest Increase  = $ 1926159
Greatest Decrease = $ -2196167

In [10]:
# my attempt to output to txt failed, so I saved text results manually.
# with open(os.path.join('Analysis.txt'),'w') as outfile:
#     data_file_df.to_string(outfile)